/*
  1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
  2. Reset all borders.
*/
*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box; /* 1 */
  border: 0 solid; /* 2 */
}

/* 
  1. allows the browser to render default form controls and scrollbars in a dark theme automatically.
*/
:where(html) {
  color-scheme: light dark; /* 1 */
}

/* 
  Remove default margins and paddings except typography elements
*/
:where(:not(dialog, h1, h2, h3, h4, h5, h6, p, ul, ol, li)) {
  margin: 0;
  padding: 0;
}

:where(html, :host) {
  /*
    controls the text inflation algorithm used on some smartphones and tablets. 
    Other browsers will ignore this property.
    When an element containing text uses 100% of the screen's width, 
    the algorithm increases its text size, but without modifying the layout.
  */
  text-size-adjust: 100%;
  /*
    see more: https://developer.mozilla.org/en-US/docs/Web/CSS/quotes
  */
  quotes: "“" "”";

  /*
    font-feature-settings: controls advanced typographic features in OpenType fonts.
    values: normal | "liga" 0 | "tnum" | "smcp", "zero" ...
     
    Tailwind sets the `font-feature-settings` inside `html`, so for better consistency
    I override it here.
  */
  font-feature-settings: "kern";
  /* block-size: 100%; */
  tab-size: 4;
}

:where(body) {
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  font-style: normal;

  /* min-block-size: 100%; */
}

:where(body, input, textarea, select, button) {
  /*
    font-synthesis: lets you specify whether or not the browser may synthesize 
    the bold, italic, and/or small-caps typefaces when they are 
    missing in the specified font-family.
    values: none | weight | style | small-caps
    allows multiple.
  */
  font-synthesis: none;
  font-feature-settings: "kern";
  /*
    -webkit-font-smoothing: antialised; -- Smooth the font on the level of the pixel, 
    as opposed to the subpixel.
    Switching from subpixel rendering to anti-aliasing for light text on 
    dark backgrounds makes it look lighter.
  */
  -webkit-font-smoothing: antialiased;
  /*
    -moz-osx-font-smoothing: grayscale; -- Render text with grayscale anti-aliasing, 
    as opposed to the subpixel. Switching from subpixel rendering to anti-aliasing 
    for light text on dark backgrounds makes it look lighter.
  */
  -moz-osx-font-smoothing: grayscale;
  text-align: start;
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
}

:where(img, svg, video) {
  max-inline-size: 100%;
}

:where(:not(pre) > code, kbd) {
  white-space: nowrap;
}

:where(pre) {
  direction: ltr;
  max-inline-size: max-content;
  min-inline-size: 0;
  white-space: pre;
  writing-mode: lr;
}

:where(p) {
  text-wrap: pretty;
}

:where(dialog) {
  color: inherit;
}

/*
  Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/*
  1. Add the correct height in Firefox.
  2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
  3. Reset the default border style to a 1px solid border.
*/
:where(hr) {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
  Add the correct font weight in Edge and Safari.
*/
:where(b, strong) {
  font-weight: bolder;
}

/*
  Add the correct font size in all browsers.
*/
:where(small) {
  font-size: 80%;
}

/*
  Reset links to optimize for opt-in styling instead of opt-out.
*/
:where(a) {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

/*
  1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
  2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
  3. Remove gaps between table borders by default.
*/

:where(table) {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
  Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
  outline: auto;
}

/*
  Add the correct vertical alignment in Chrome and Firefox.
*/
:where(progress) {
  vertical-align: baseline;
}

/*
  Add the correct display in Chrome and Safari.
*/
:where(summary) {
  display: list-item;
}

/*
  Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
:where(img, video) {
  max-width: 100%;
  height: auto;
}

/*
  1. Inherit font styles in all browsers.
  2. Remove border radius in all browsers.
  3. Remove background color in all browsers.
  4. Ensure consistent opacity for disabled states in all browsers.
*/
button,
input,
select,
optgroup,
textarea,
::file-selector-button {
  font: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  border-radius: 0; /* 2 */
  background-color: transparent; /* 3 */
  opacity: 1; /* 4 */
}

/*
  Restore default font weight.
*/
:where(select:is([multiple], [size])) optgroup {
  font-weight: bolder;
}

/*
  Restore indentation.
*/
:where(select:is([multiple], [size])) optgroup option {
  padding-inline-start: 20px;
}

/*
  Restore space after button.
*/
::file-selector-button {
  margin-inline-end: 4px;
}

/*
  Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
*/
::placeholder {
  opacity: 1;
}

/*
  Set the default placeholder color to a semi-transparent version of the current text color in browsers that do not
  crash when using `color-mix(…)` with `currentColor`. (https://github.com/tailwindlabs/tailwindcss/issues/17194)
*/
@supports (not (-webkit-appearance: -apple-pay-button)) /* Not Safari */ or
  (contain-intrinsic-size: 1px) /* Safari 17+ */ {
  ::placeholder {
    color: color-mix(in oklab, currentColor 50%, transparent);
  }
}

/*
  Prevent resizing textareas horizontally by default.
*/
textarea {
  resize: vertical;
}

/*
  Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
  1. Ensure date/time inputs have the same height when empty in iOS Safari.
  2. Ensure text alignment can be changed on date/time inputs in iOS Safari.
*/
::-webkit-date-and-time-value {
  min-height: 1lh; /* 1 */
  text-align: inherit; /* 2 */
}

/*
  Prevent height from changing on date/time inputs in macOS Safari when the input is set to `display: block`.
*/
::-webkit-datetime-edit {
  display: inline-flex;
}

/*
  Remove excess padding from pseudo-elements in date/time inputs to ensure consistent height across browsers.
*/
::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

::-webkit-datetime-edit,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-meridiem-field {
  padding-block: 0;
}

/*
  Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/*
  Correct the inability to style the border radius in iOS Safari.
*/
button,
input:where([type="button"], [type="reset"], [type="submit"]),
::file-selector-button {
  appearance: button;
}

/*
  Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
  Make elements with the HTML hidden attribute stay hidden by default.
*/
[hidden]:where(:not([hidden="until-found"])) {
  display: none !important;
}

@media (prefers-reduced-motion: no-preference) {
  :where(html) {
    scroll-behavior: smooth;
  }
}
